#clicky probe


[probe]
pin: micro:gpio15
x_offset: 23
y_offset: -15
z_offset: 0.85
samples: 1
sample_retract_dist: 2.0
lift_speed: 30.0

[bed_mesh]
probe_count: 6,6
mesh_min: 25,10
mesh_max: 169,156
horizontal_move_z: 4
speed: 150
fade_start: 1.0
fade_end: 15.5
fade_target: 0.0
algorithm: bicubic

 

[z_tilt]
z_positions:
            2, 100
            145, 100

points:
        2, 100
        145, 100

speed: 150
horizontal_move_z: 4
retries: 7
retry_tolerance: 0.02